@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fcf0cc; /* 84894A 034C3C */
  font-family: "lato", sans-serif;
  margin: 0;
}
nav {
  background-color: #84894a;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
nav a {
  color: #fff;
  position: relative;
  margin-left: 30px;
  text-decoration: none;
}
nav a::after {
  content: "";
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  height: 100%;
  width: 100%;
  opacity: 0;
}
nav a:hover::after {
  transform: translateY(0);
  opacity: 1;
}
header {
  background-image: url(https://media.istockphoto.com/photos/double-exposure-of-woman-hands-typing-on-computer-and-forex-chart-picture-id1304606079?s=612x612);
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}
header h1 {
  font-size: 55px;
  margin-bottom: 5px;
  margin-top: 0;
}
header p {
  font-size: 25px;
  margin: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 15%;
}
img:hover {
  transform: scaleX(-1);
}

section {
  background-color: #84894a;
  text-align: center;
  padding: 40px;
}
section p {
  font-size: 20px;
  margin: 0;
}
section h2 {
  margin: 0;
}
.social-ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.social-ul a {
  color: #fff;
  font-size: 30px;
  margin: 0 10px;
}
#button {
  color: #fff;
  background-color: black;
}

footer {
  background-color: #84894a;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
